render-pass "refract" file="refract.frag" scale=1.0
render-pass "blur_down" file="blur_down.frag" scale=0.5
render-pass "blur_up" file="blur_up.frag" scale=2.0
render-pass "composite" file="composite.frag" scale=1.0
